<h1>Listing addesses</h1>

<table>
  <tr>
    <th>Street type</th>
    <th>Street</th>
    <th>Number</th>
    <th>City</th>
    <th>Zip</th>
    <th>Country</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addesses.each do |addess| %>
  <tr>
    <td><%= addess.street_type %></td>
    <td><%= addess.street %></td>
    <td><%= addess.number %></td>
    <td><%= addess.city %></td>
    <td><%= addess.zip %></td>
    <td><%= addess.country %></td>
    <td><%= addess.person %></td>
    <td><%= link_to 'Show', addess %></td>
    <td><%= link_to 'Edit', edit_addess_path(addess) %></td>
    <td><%= link_to 'Destroy', addess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Addess', new_addess_path %>
