<p id="notice"><%= notice %></p>

<p>
  <b>Street type:</b>
  <%= @addess.street_type %>
</p>

<p>
  <b>Street:</b>
  <%= @addess.street %>
</p>

<p>
  <b>Number:</b>
  <%= @addess.number %>
</p>

<p>
  <b>City:</b>
  <%= @addess.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @addess.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @addess.country %>
</p>

<p>
  <b>Person:</b>
  <%= @addess.person %>
</p>


<%= link_to 'Edit', edit_addess_path(@addess) %> |
<%= link_to 'Back', addesses_path %>
